* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Rubik";
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.accent__top {
  z-index: -10;
  height: 335px;
  width: 30%;
  background: radial-gradient(
    at 18%,
    rgba(253, 212, 70, 0.5) 15%,
    rgb(255, 255, 255) 70%
  );
  position: absolute;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 129px;
  border: none;
}

.accent__bottom {
  z-index: -10;
  height: 500px;
  width: 100%;
  background: radial-gradient(
    at 50% 70%,
    rgba(253, 212, 70, 0.5) 35%,
    rgb(255, 255, 255) 75%
  );
  position: absolute;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  bottom: 10%;
  border: none;
}

.accent__center {
  z-index: -10;
  height: 509px;
  width: 40%;
  background: radial-gradient(
    at 50% 55%,
    rgba(253, 212, 70, 0.5) 10%,
    rgb(255, 255, 255) 65%
  );
  position: absolute;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 1166px;
  border: none;
  left: 589px;
}

.wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 93%;
  margin: auto;
}

.header {
  margin-top: 18px;
}

.header__searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  background-image: url("../../public/img/logo.png");
  width: 128px;
  height: 59px;
  flex-shrink: 1;
}

.header__search {
  width: 568px;
  flex-shrink: 2;
  height: 59px;
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  border-radius: 57.59px;
  display: block;
  padding-left: 47px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  background-image: url("../../public/img/search.png");
  background-repeat: no-repeat;
  background-position: 4% 50%;
}

.header__filters {
  margin-top: 50px;
  width: 155px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__filtersArr {
  padding-right: 10px;
}

.header__filtersTitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 10px;
}

.main {
  margin-top: 30px;
  z-index: 50;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.main__items {
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.item {
  width: 216px;
  height: 436px;
  border: 0.7px solid rgba(48, 47, 46, 0.6980392157);
  z-index: 50;
}

.item__wrapper {
  width: 199px;
  margin: auto;
}

.item__photo {
  width: 199px;
  height: 222px;
  background-image: url("../../public/img/photo.png");
  margin-top: 8px;
}

.item__text {
  font-family: "Istok Web";
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.item__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  gap: 4px;
}

.item__profilePhoto {
  background-image: url("../../public/img/photoS.png");
  width: 48px;
  height: 48px;
}

.item__profileName {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.item__profileCheckWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
}

.item__profileCheckSign {
  height: 14px;
  width: 14px;
  display: block;
}
.item__profileCheck {
  font-family: Rubik;
  font-size: 11px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff9900;
}

.item__uniqueBox {
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item__uniqueTitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.item__uniqueText {
  font-size: 11px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 7px;
  border: 1px solid #ffc107;
  width: 90px;
  height: 27px;
  text-align: center;
}

.item__priceBox {
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item__priceTitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.item__price {
  font-size: 11px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  width: 76px;
  height: 27px;
  background-color: #fdd446;
  border-radius: 7px;
}

.item__purchase {
  width: 183px;
  height: 37px;
  margin: auto;
  border-radius: 15px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fdd446),
    to(#f79b47)
  );
  background: linear-gradient(90deg, #fdd446 0%, #f79b47 100%);
  border: none;
  font-family: "Istok Web";
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 8px;
}

.main__pagination {
  width: 258px;
  height: 40px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.main__paginationPageNumber {
  font-family: "Istok Web";
  font-size: 18px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

footer {
  width: 100%;
  min-height: 310px;
  background: #fdd446;
  padding-right: calc(50% - 354px);
  padding-left: calc(50% - 354px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__wrapper {
  margin-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__line {
  position: absolute;
  top: 212px;
  width: 93%;
  margin: auto;
  height: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5019607843);
}

.footer__star {
  position: absolute;
  top: 191px;
  left: 45%;
  display: block;
}

.footer__icons {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 10px;
}

.footer__iconVK {
  background-image: url("../../public/img/vk.png");
  width: 20px;
  height: 20px;
}

.footer__inc {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  top: 262px;
}

.footer__productDescription {
  width: 123px;
}

.productDescription__title {
  text-align: left;
  font-family: "Istok Web";
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.productDescription__line {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  margin-top: 10px;
}

.footer__companyDescription {
  width: 158px;
}

.companyDescription__title {
  font-family: "Istok Web";
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.companyDescription__line {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.footer__other {
  width: 210px;
}

.other__title {
  font-family: "Istok Web";
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.other__line {
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
